:root{
   --color-green-primary: #28a458;
  --color-green-secondary: #5ebb82;
  --color-text-dark: #3d3b3b;
  --color-text-medium: #555;
  --color-text-light: #888;
  --color-background-white: #ffffff;
  --color-shadow-light: rgba(0, 0, 0, 0.08);
  --color-border-light: #eee;
  --color-border-medium: #ddd;
  --color-red-error: #d9534f;
}
 * {
    box-sizing: border-box;
    
    font-family: var(--font-main);
    font-size: 12px;
  }
  .modal-actions {
    margin-top: 25px;
    text-align: right;
}

.modal-actions button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; 
}
.modal-header{
  display: flex;
  
}

.modal-content {
  background: var(--color-background-white);
  border-radius: 8px;
  padding: 0;
  width: 90%;
  max-width: 500px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: modalAppear 0.3s ease-out;
  z-index: 10001;
}


.modal-content p{
  text-align: center;
}

.modal-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.modal-footer button{
  width: 50%;
}
.btn-secondary{
  padding: 12px 24px;
  background-color:var(--color-background-white);
  color: var(--color-green-primary);
  border:1px solid var(--color-green-primary);
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
 }

.btn-primary {
  padding: 12px 24px;
  background-color:var(--color-green-primary);
  color: var(--color-border-light);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color:var(--color-green-secondary);
}
.modal-body{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
 
}
.modal-body h1{
 text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
   * {
    box-sizing: border-box;
    
    font-family: var(--font-main);
    font-size: 12px;
  }

  .modal-content {
    width: 95%;
    margin: 20px;
  }
  
  .modal-footer {
    flex-direction: column;
  }
 
}