:root{
     --color-green-primary:#28A458;
    --color-green-secondary:#5EBB82;
    --color-text-dark:#161616;
    --color-background-light:#F5F0E1;
    --color-background-white:#FFFF;
    --color-shadow:rgba(22, 163, 74, 0.2);
    --font-main:"Poppins", sans-serif;
    --font-size-base: 16px;
}
.newsLetter{
    background-image: url("../../../assets/images/legume2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    text-align: center;
    color: var(--color-background-light);
    padding: 30px 80px;
    
}
.newsLetter-content{
    display: flex;
    flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.newsLetter-content h2{
    font-weight: 600;
    font-size: larger;
    width: 75%;
}
.newsLetter-form{
    display: flex;
    background-color: var(--color-background-white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     border-radius: 20px;
}
.newsLetter-form input{
  
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  padding: 0px 100px 0px 20px;
  transition: border 0.3s ease;
  color: var(--color-text-dark);
}

.newsLetter-form input::placeholder{
    text-align: left;
}
.newsLetter-form button{
    border: 2px solid transparent;
 padding: 10px 10px ;
 border-radius: 0px 20px 20px 0px;
 background-color: var(--color-green-primary);
 color: var(--color-background-light);
}
.newsLetter-form button:hover{
    background-color: var(--color-green-secondary);
  transform: translateY(0px);
  box-shadow: 0 4px 10px var(--color-shadow);
}
@media (max-width:900px){
.newsLetter-form{
    display: flex;
    background-color: var(--color-background-white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.newsLetter-form input{
  
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  padding: 0px 50px 0px 5px;
  transition: border 0.3s ease;
  color: var(--color-text-dark);
}

.newsLetter-form input::placeholder{
    text-align: left;
}
.newsLetter-form button{
    border: 2px solid transparent;
 padding: 8px 8px ;
 border-radius: 0px 20px 20px 0px;
 background-color: var(--color-green-primary);
 color: var(--color-background-light);
}
.newsLetter-form button:hover{
    background-color: var(--color-green-secondary);
  transform: translateY(0px);
  box-shadow: 0 4px 10px var(--color-shadow);
}
}
 