.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-btn {
  width: 35px;
  height: 35px;
  border: 2px solid var(--color-green-primary);
  border-radius: 50%;
  background-color: #fbe8e8;
  color: var(--color-green-primary);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.pagination-btn.active {
  background-color: var(--color-green-primary);
  color: white;
}

.pagination-btn:hover:not(.active) {
  background-color: var(--color-green-secondary);
  color: white;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
